*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.container{
	width: 960px;
	min-height: 600px;
	margin: 0 auto;
	background: #fff;
}

.container .cont{display: flex;} 

.container .pages{
	width: 100%;
	height: 200px;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container nav{
	width: 100%;
	height: 50px;
	padding: 7px 60px;
}

.container nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

.container nav ul li{
	float: left;
}

.container nav ul li a{
	color:black;
	display: block;
	width: 120px;
	height: 35px;
	font-size: 17px;
	margin: 0 5px;
	text-decoration: none;
	text-align: center;
	padding: 17px;
}

.container .pages.home{
	background-image: url(../images/jumbo.jpg);
}

.container .main{

	width: 100%;
	padding: 10px 40px;
	text-align: justify;
	word-spacing: 6px;
	line-height: 25px;
}

.container .left{width: 50%;padding: 20px;}

.container .right{width: 50%;padding:20px}

.container .content{display:flex;}

hr { border: 2px dotted gray; border-style:none none dotted;  }

.container .content2 .boxes .box{
    height: 120px;
    width: 120px;
    color:white;
    margin: 10px;
    text-align: center;
    padding-top: 50px;
 
}
.container .content2 .boxes{display: flex;justify-content: space-around;}




.container .content2 .boxes .box1{background-color: #5EAEC9;}
.container .content2 .boxes .box2{background-color:  rgb(236, 202, 10);}
.container .content2 .boxes .box3{background-color: rgb(146, 202, 221);}
.container .content2 .boxes .box4{background-color: rgb(207, 79, 79);}
.container .content2 .boxes .box5{background-color: rgb(231, 33, 33);}
.container .content2 .boxes .box6{background-color: rgb(2, 134, 31);}
.container .content2 .boxes .box7{background-color: rgb(184, 60, 184);}
.container .content2 .boxes .box8{background-color: rgb(243, 155, 221);}
.container .content2 .boxes .box9{background-color: rgb(67, 4, 70);}
.container .content2 .boxes .box10{background-color: rgb(9, 119, 156);}
.container .content2 .boxes .box p{padding: 13px;}

.detail .items{
    width: 100%;
	padding: 10px 40px;
	text-align: justify;
	word-spacing: 6px;
	line-height: 25px;
}

.detail .items.left{
    width: 30%;
	min-height: 500px;
	float: left;
	padding: 15px;
}



.container .pages.about{
	background-image: url(../images/jumbo-about.png);
}


.container .main .left{
	width: 50%;
	min-height: 500px;
	float: left;
	
}



.container .main aside{
	width: 50%;
	min-height: 500px;
    float: right;
    margin-top: 20px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

button{padding: 10px; border-radius: 30%;}

.lets{padding: 20px;}

.foo{height: 30px;width: 100%;background-color:black;}

.bottomnav{margin-left: 20px;}

.bottomnav .a{color: white;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
